/* UserCard.css */

h2{
  text-align: center;
}

/*  Button Styles */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #4CAF50; /* Green background color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

button:hover {
  background-color: #3b863f; 
}

.open-button {
  background-color: red;
}
.open-button:hover {
  background-color: rgb(216, 2, 2);
}

/* Grid layout for user cards */
.user-card-container {
    /* width: 80vh  ; */
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px; 
  }
  
  /* Styling for individual user cards */
  .user-card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  /* Media queries for responsive design */
  @media screen and (max-width: 820px) {
    .user-card-container {
      grid-template-columns: 1fr 1fr; 
    }
  }
  
  @media screen and (max-width: 576px) {
    .user-card-container {
      grid-template-columns: 1fr; 
    }
  }
  
  .postpagecontainer{
    margin: auto;
    text-align: center;
    width: 70%;
  }